{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('bartik/classy.node') }}
<article{{ attributes.addClass(classes) }}>
  <section class="articles-page-one mt-5rem">
    {{ title_suffix }}
    {{ content.field_razdely }}
    <div class="articles-page-one-teaser">
      <div class="articles-page-one-teaser-img">
        <img src="{{ content.field_izobrazhenie_anonsa }}" alt="" loading="lazy">
      </div>
      <h2 class="title-1">{{ label }}</h2>
    </div>
    <div class="articles-page-one-text">
      {{ content.field_tekst_stati }}
    </div>
  </section>
</article>